/* HEADER */
#beerlistheader {
  padding: 1rem;
  background-color: var(--color-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
  margin-bottom: 2rem;
}

#beerlistheader h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-size);
}

#beerlistheader p {
  font-family: var(--p-font);
  font-size: var(--p-size);
}

#product-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.single-product {
  background-color: var(--color-4);
  color: white;
  border-radius: 20px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 0.5fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    "image name label keg"
    "image p p keg"
    "image alc . keg";
}

.image {
  grid-area: image;
  width: 60%;
  margin: auto;
}

.name {
  font-family: var(--h2-font);
  grid-area: name;
}

.label {
  font-family: var(--h2-font);
  grid-area: label;
  color: var(--color-6);
}

.alc {
  font-family: var(--h2-font);
  grid-area: alc;
}

.description {
  grid-area: p;
  font-family: var(--p-font);
}

.keg {
  background-image: url('assets/keg_full.png');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: keg;
  width: 8em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#bottombtn {
  font-family: var(--p-font);
  display: flex;
  justify-content: center;
}

#bottombtn a:hover {
  color: var(--color-2);
  background-color: var(--color-6);
  text-decoration: underline;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .body {
    width: 100%;
    text-align: center;
    align-content: center;
  }
  .single-product {
    background-color: var(--color-4);
    color: white;
    border-radius: 20px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 0fr 0fr 0fr;
    grid-auto-flow: row;
    grid-template-areas:
      "image keg"
      "name label"
      "alc alc"
      "p p";
  }

  h2 h3 {
    margin: 0;
  }

  .keg {
    background-image: url('assets/keg_full.png');
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: keg;
    width: 45%;
    height: auto;
  }
}

@media screen and (max-width: 730px) {
  .single-product {
    background-color: var(--color-4);
    color: white;
    border-radius: 20px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr 0fr 0fr 0fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "image"
      "name"
      "label"
      "alc"
      "p"
      "keg";
  }
  .keg {
    background-image: url('/assets/keg_full.png');
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: keg;
    width: 40%;
    height: auto;
  }
}
