@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  --color-0: #000000;
  --color-1: #ffffff;
  --color-2: #ece8e3;
  --color-3: #e3dbd1;
  --color-4: #6a3030;
  --color-5: #f5cf6b;
  --color-6: #dca413;
  --color-7: #502424;

  --header-font: "Grenze Gotisch", cursive;
  --h2-font: "Special Elite", cursive;
  --p-font: "Open Sans", sans-serif;
  --p-bold-font: "Open Sans", bold;

  --header-size: 4rem;
  --h2-size: 2rem;
  --p-size: 1rem;
  --p-bold-size: 1.2rem;

  --mobilenav-size: 2rem;
}

body {
  margin: 0;
  background-color: var(--color-2);
}

/* Navigation */
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

h1 a {
  color: var(--color-0);
  font-family: var(--header-font);
  font-size: var(--header-size);
  list-style: none;
  text-decoration: none;
  line-height: 1.5rem;
}

.nav_right ul {
  font-family: var(--p-font);
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  list-style: none;
}

.nav_right a,
#bottombtn a {
  color: black;
  text-decoration: none;
}

.nav_right a:hover {
  text-decoration: underline;
}

.button {
  font-family: var(--p-font);
  background-color: var(--color-5);
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 20px;
  color: black;
  cursor: default;
  transition: background-color 1s, color 1.5s ease;
}

.button:hover {
  color: var(--color-2);
  background-color: var(--color-6);
}

/* Footer */
footer {
  font-family: var(--h2-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  color: white;
  background-color: var(--color-4);
}

footer h1 {
  font-family: var(--header-font);
}

@media screen and (max-width: 700px) {
  nav {
    width: 90%;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}
