:root {
    --color-0: #000000;
    --color-1: #ffffff;
    --color-2: #ECE8E3;
    --color-3: #E3DBD1;
    --color-4: #6A3030;
    --color-5: #F5CF6B;
    --color-6: #DCA413;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .column {
        width: 100%;
    }
}

body {
    background-color: var(--color-2);
}

#header {
    margin-inline: 1rem;
}

#main {
    z-index: 1;
}

#header #container {
    float: right;
}

#beerPanel {
    margin-inline: 1rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-gap: 2rem;
}

.beerType {
    height: 30rem;
    background-color: var(--color-4);
    border-radius: 25px;
    text-align: center;
    color: var(--color-2);
}

.beerType h1 {
    font-size: 1.5rem;
}

.beerType img {
    width: 70%;
    height: 60%;
}

.beerType .price {
    margin-block: 3%;
    font-size: 1.2rem;
}

.beerType .num {
    margin-inline: 1.5rem;
    font-size: 1.5rem;
}

.beerType button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-5);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: background-color 1s, color 1.5s ease;
}
.beerType button:hover {
    background-color: var(--color-6);
    color: var(--color-4);
}


.title {
    font-size: 2rem;
    text-align: center;
}

.secondaryPage {
    margin-bottom: 2rem;
    z-index: 1;
    position: absolute;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--color-4);
    color: var(--color-2);
    width: 30rem;
    padding-left: 12rem;
    padding-right: 8rem;
    border-radius: 25px;
}

.secondaryPage span {
    display: block;
    margin-top: 0.3rem;
}

.secondaryHeader {
    margin-top: 3rem;
    width: 100%;
}
.secondaryHeader h1 {
    text-align: center;
}
.secondaryHeader button {
    float: right;
}

#order #orderPanel {
    font-size: 1.2rem;
}

#order input[type=checkbox] {
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
}
#order .method {
    vertical-align: middle;
}









#cardInfo {
    display: none;
}


#cards {
    display: flex;
}
#cards div {
    margin-top: 2vh;
    margin-left: 2vh;
    height: 3vh;
    width: 3.5vw;
    background-color: white;
    
}


input, select {
    background-color: var(--color-2);
    padding-inline: 1rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
}

input[type=text] {
    height: 2rem;
    width: 20rem;
}

select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    height: 2.1rem;
    width: 22rem;
}

input[type=number], #cardSecurityNumber {
    height: 2rem;
    width: 7rem;
}

.error {
    padding-inline: 5px;
    visibility: hidden;
    color: var(--color-5);
}


#confirmMessage {
    text-align: center;
}

.btnPrimary {
    margin-block: 1.5rem;
    height: 3.5rem;
    width: 7rem;
    background-color: var(--color-5);
    border: none;
    border-radius: 25px;
    transition: background-color 0.5s, color 1.5s ease;
}
.btnPrimary:hover {
    background-color: var(--color-6);
    color: var(--color-4);
}

#orderBtn:disabled {
    background-color: var(--color-3);
}

.btnSecondary {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    vertical-align: middle;
    color: var(--color-2);
    transition: color 0.5s ease;
}
.btnSecondary:hover {
    color: var(--color-5);
}







.btnSymbol {
    height: 2.5rem;
    width: 2.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
#copyBtn {
    background-image: url('images/icon_copy.png');
}
#pasteBtn {
    background-image: url('images/icon_paste.png');
}

