:root {
    --color-0: #000000;
    --color-1: #ffffff;
    --color-2: #ECE8E3;
    --color-3: #E3DBD1;
    --color-4: #6A3030;
    --color-5: #F5CF6B;
    --color-6: #DCA413;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-2);
}

#main {
    z-index: 1;
}

#header {
    margin: 1.5vh;
}

#header #container {
    float: right;
}

#beerPanel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vh;
}

.beerType {
    height: 42vh;
    background-color: var(--color-4);
    border-radius: 25px;
    text-align: center;
    color: var(--color-2);
}

.beerType h1 {
    margin-block: 2vh;
    font-size: 1.5rem;
}

.beerType img {
    width: 70%;
    height: 25vh;
}

.beerType .price {
    margin-block: 1vh;
    font-size: 1.2rem;
}

.beerType .num {
    margin-inline: 1vw;
    font-size: 1.5rem;
}

.beerType button {
    height: 3vh;
    width: 3vh;
    background-color: var(--color-5);
    border: none;
    border-radius: 10%;
    font-size: 1.5rem;
    transition: background-color 1s, color 1.5s ease;
}
.beerType button:hover {
    background-color: var(--color-6);
    color: var(--color-4);
}


.title {
    font-size: 2rem;
    text-align: center;
}

.secondaryPage {
    z-index: 1;
    position: absolute;
    margin-top: 3vh;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--color-4);
    color: var(--color-2);
    width: 30vw;
    padding: 3vw;
    border-radius: 25px;
}

#order #orderPanel {
    font-size: 1.2rem;
}

#order input[type=checkbox] {
    margin-left: 1vw;
    height: 2vh;
    width: 2vh;
    vertical-align: middle;
}
#order .method {
    vertical-align: middle;
}

#order #cardInfo {
    margin-left: 1vw;
}






#cards {
    display: flex;
}
#cards div {
    margin-top: 2vh;
    margin-left: 2vh;
    height: 3vh;
    width: 3.5vw;
    background-color: white;
    
}





#cardInfo {
    display: none;
}

input[type=text], select {
    background-color: var(--color-2);
    padding-inline: 0.5%;
    border-radius: 10px;
    border: none;
    height: 2vh;
    width: 20vw;
}

input[type=number], #cardSecurityNumber {
    background-color: var(--color-2);
    padding-inline: 0.5%;
    border-radius: 10px;
    border: none;
    height: 2vh;
    width: 4vw;
}

.error {
    padding-inline: 5px;
    visibility: hidden;
    color: var(--color-5);
}


#confirmMessage {
    text-align: center;
}

.btnPrimary {
    margin-block: 1.5vh;
    height: 5vh;
    width: 10vw;
    background-color: var(--color-5);
    border: none;
    border-radius: 25px;
    transition: background-color 1s, color 1.5s ease;
}
.btnPrimary:hover {
    background-color: var(--color-6);
    color: var(--color-4);
}

#orderBtn:disabled {
    background-color: var(--color-3);
}

.btnSecondary {
    float: right;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    vertical-align: middle;
    color: var(--color-2);
    transition: color 0.5s ease;
}
.btnSecondary:hover {
    color: var(--color-5);
}







.btnSymbol {
    height: 3vh;
    width: 3vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
#copyBtn {
    background-image: url('images/icon_copy.png');
}
#pasteBtn {
    background-image: url('images/icon_paste.png');
}

