body{
  box-sizing: border-box;
}

#section_1 {
  text-align: center;
}

#info_us {
    font-size: 1.6rem;
    overflow: hidden;    
}

#section_2 {
    background-color: #E3DBD1;
    width: 60%;
    align-content: center;
    text-align: center;
          margin:0 auto;
      border-radius: 25px;
    padding: 1rem;
    padding-left: 2rem;    
    padding-right: 2rem; 
    padding-bottom: 2rem;
    
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    text-align: center;
    align-content: center;
      margin:0 auto;
}
    .mySlides {
       text-align: center;
    align-content: center; 
    background-color: #6A3030;
    border-radius: 25px;
    padding-top: 5px;

    }
#Footer {
    margin-top: 1%;
    width: 100%;
    overflow: hidden;
}
#Seeourbeer {
    margin: 5px;
    
}

h3 {
    font-size: 2rem;
}
    
}
#section_3 {
    text-align: center;
    display: flex;
    background-color: white;
         margin:0 auto;
}

#column_button {
    float: left;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 2%
}
#order_1 {
    display:inline-block;
        background-color: #5B2626;
        width: 18rem;
        border-radius: 25px;
    padding-right: 0.4rem;
}
#order_2 {
    display:inline-block;
        background-color: #5B2626;
        width: 18rem;
        border-radius: 25px;
    padding-right: 0.4rem;
    padding-top: 0.4rem;
     
}
#order_3 {
    display:inline-block;
        background-color: #5B2626;
        width: 18rem;
        border-radius: 25px;
     padding-right: 0.4rem;
    padding-top: 0.4rem;
}
#order_img {
    width: 20%;
    height: 20%;
    border-radius: 25px;
    left: 5%;   

}
#order_text {
    float: right;
    color: white;
}
#order_back {
    background-color: #6A3030;
    border-radius: 25px;
    padding: 5px;    
    text-align: center;
    align-content: center;
    width: 75%;
    margin-left: 15%; 
    font-size: 1rem;
}

#bartensers {
    background-color: white;
    text-align: center;
    align-content: center;
                border-radius: 25px;


}
#bar_ten {
    background-color: #6A3030;
        width: 20rem;
    text-align: center;
    align-content: center;
              margin:0 auto;
            border-radius: 25px;
color: white;
    font-size: 1.6rem;

}

#OrderBar {
    text-align: center;
    align-content: center;
        background-color: white;
                border-radius: 25px;


}
#col_1_back {
    margin-left: 10%;
    background-color: white;
                border-radius: 25px;
    padding-bottom: 10%;
    width: 80%

}
#col_2_back {
    background-color: white;
    border-radius: 25px;
        width: 80%;
        padding-bottom: 10%;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
    font-size: 1.6rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    margin-bottom: 30px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.column {
  float: left;
  width: 50%;
    text-align: center;
    align-content: center;
    display:block;
    padding-bottom: 2%;
    border-radius: 25px;
    overflow: hidden;
    
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

      .column {
    width: 100%;
  }        
 
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    text-align: center;
    align-content: center;
      
  }
    #order_1 {
        width: 70%;
        text-align: center;
    align-content: center;
    }
    #order_2 {
        width: 20rem;
        text-align: center;
    align-content: center;
    }#order_3 {
        width: 20rem;
        text-align: center;
    align-content: center;
    }  
    
    #order_text {
    float: right;
}
    #order_img {
    float: left;
    margin-left: 7rem;
    width: 30%;    

}
}