:root {
  --color-1: #6a3030;
}

body {
  margin: 0;
}

.about {
  display: flex;
  justify-content: center;
}

section.beerlist {
  width: 40rem;
}

.beerlist {
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  color: white;
  background-color: var(--color-1);
  gap: 1rem;
}

.beerimg {
  width: 15%;
  height: auto;
}

.beerinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.beertype {
  justify-content: left;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  color: white;
  background-color: var(--color-1);
}
