 {
  box-sizing: border-box;
}

#section_1 {
  text-align: center;
}
#section_2 {
    background-color: #E3DBD1;
    width: 60%;
    align-content: center;
    text-align: center;
          margin:0 auto;

    
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
    text-align: center;
    align-content: center;
      margin:0 auto;
}
    .mySlides {
       text-align: center;
    align-content: center; 
    background-color: #6A3030;
    }
    
}
#section_3 {
    text-align: center;
    display: flex;
    background-color: white;
         margin:0 auto;
    

}
#order_1 {
    display:inline-block;
        background-color: #5B2626;
    width: 30rem;

}
#order_2 {
    display:inline-block;
        background-color: #5B2626;
    width: 30rem;

    
}
#order_3 {
    display:inline-block;
        background-color: #5B2626;
        width: 30rem;

}
#order_img {
    width: 20%;
    height: 20%;

}
#order_text {
    float: right;
}

#bartensers {
    background-color: white;
    text-align: center;
    align-content: center;

}
#bar_ten {
    background-color: #6A3030;
        width: 20rem;
    text-align: center;
    align-content: center;
              margin:0 auto;

}

#OrderBar {
    text-align: center;
    align-content: center;
        background-color: white;

}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.column {
  float: left;
  width: 50%;
    background-color: white;
    text-align: center;
    align-content: center;
    display:block;        
    
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

      .column {
    width: 100%;
  }        
 
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    text-align: center;
          align-content: center;

      
  }
    #order_1 {
        width: 20rem;
    }
    #order_2 {
        width: 20rem;
    }#order_3 {
        width: 20rem;
    }  
    #order_text {
    float: right;
}
    #order_img {
    float: left;
    margin-left: 7rem;
    width: 30%;    

}
}